.DS_Store

# ignored folders
basicsr/__pycache__
basicsr/basicsr_dat/__pycache__
basicsr/basicsr_resshift/__pycache__
basicsr/basicsr_dat/__pycache_
experiments/*
results/*
tb_logger/*
tmp/*
datasets/*
basicsr.egg-info
.eggs
.vscode
pretrained_models
output_dir
weights
superresolution

docs/api
scripts/__init__.py
