.DS_Store

# ignored folders
basicsr/__pycache__
basicsr/basicsr_dat/__pycache__
basicsr/basicsr_resshift/__pycache__
basicsr/basicsr_dat/__pycache_
experiments/*
results/*
tb_logger/*
tmp/*
datasets/*
basicsr.egg-info
.eggs
.vscode
pretrained_models
output_dir
weights
superresolution
docs/api
scripts/__init__.py
basicsr/models/__pycache__
basicsr/utils/__pycache__
basicsr/data/__pycache__
basicsr/basicsr_resshift/utils/__pycache__
SwinIR_models/__pycache__
utils/__pycache__
utils/utils_ResShift/__pycache__
utils/utils_SwinIR/__pycache__
basicsr/losses/__pycache__
basicsr_resshift/models/archs/__pycache__
ResShift_main_scripts/__pycache__
ResShift_main_scripts/datapipe/__pycache__
output_dir
ResShift_models/__pycache__
ldm/modules/diffusionmodules/__pycache__
ldm/modules/__pycache__
ldm/models/__pycache__
ldm/__pycache__
ldm/modules/distributions/__pycache__
ldm/modules/vqvae/__pycache__
# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
pretrained_models_2nd_dataset
pretrained_models_3rd_Dataset
pretrained_models_Dataset_1