addict
future
lmdb
numpy>=1.17
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
torchvision
tqdm
yapf
timm 
einops
h5py
matplotlib
pandas
torch==1.8
torchvision==0.9
torchaudio==0.8.0
omegaconf
loguru
albumentations